<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    {% load static %}
  </head>




  <body>
    <div id="rechnung_container"></div>
    <button type="button" data-feather="plus-circle"></button>





  <!-- ... other HTML ... -->

  <!-- Load React. -->
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="{% static 'js/feather.min.js' %}"></script>
  <!-- Your custom script here -->
  <!-- Load our React component. -->
  <script type="text/jsx" src="{% static 'isys/js/rechnung.js' %}"></script>  
  <script>
    feather.replace()
  </script>
  </body>
</html>